// 用于App.vue 作用于全局的样式
ul,
ol {
  list-style-type: none;
  text-align: left;
}

.text-ul {
  font-size: 18px;
  line-height: 2em;
  display: inline-block;
  padding-top: 15px;
  width: 60%;
  // border-top: 1px solid lightgray;
}
