// fade
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.28s;
}

.fade-enter-from,
.fade-leave-active {
  opacity: 0;
}

// fade-transform
.fade-transform-leave-active,
.fade-transform-enter-active {
  transition: all 0.5s;
}

// NOTE: 这里是enter-from而不是enter
.fade-transform-enter-from {
  opacity: 0;
  transform: translateX(-30px);
}

.fade-transform-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

// breadcrumb
.breadcrumb-enter-active,
.breadcrumb-leave-active {
  transition: all 0.5s;
}

.breadcrumb-enter-active,
.breadcrumb-leave-active {
  opacity: 0;
  transform: translateX(-10px);
  transform: translateY(-20px);
}

.breadcrumb-move {
  transition: all 0.5s;
}

.breadcrumb-leave-to-active {
  position: absolute;
}
