$sidebar-top-title-color: #b5d3e8;
$small-padding: 4px;
$medium-padding: 15px;
$small-margin: 4px;
$medium-padding: 15px;
$header-height: 64px;
$common-border: 1.5px solid #cad2e2;
$subheader1-height: 40px;
$subheader2-height: 24px;
