@import "@/styles/transitions.scss";

.card-container {
  display: flex;
  justify-content: space-between;

  .card-left,
  .card-right {
    min-height: 80vh;
  }

  .card-left {
    width: 34%;
    &:hover {
      box-shadow: $base-card-box-shadow;
    }

    .avatar {
      display: inline-block;
      margin: {
        top: 35px;
        bottom: 15px;
      }

      & > img {
        transition: all 0.5s;
        &:hover {
          cursor: pointer;
          transform: scale(1.15);
        }
      }
    }

    h1 {
      font-size: 30px;
    }
    .edit-icon {
      font-size: 20px;
      cursor: pointer;
    }

    ul {
      border-top: 1px solid lightgray;
      /* padding-top: 35px; */
    }
  }
  .card-right {
    width: 64%;
    &:hover {
      box-shadow: $base-card-box-shadow;
    }
  }
}